$primary: #ec5252;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-light: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-aboslute: #000;

$success: #69af00;
